.jobListing {
    min-width: 81%;
	position: relative;
}

.postJobBtn {
    right: 0px;
    position: absolute;
    height: 25px;
    border-radius: 5px;
    background: #f5f518;
}

.opLinks {
    height: 25px;
    vertical-align: middle;
    border-bottom: 1px solid #bbb;
}

.opLinks a {
	color: #0079d0;
	border-right: 2px solid #999;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
}

.jobListingDiv {
    padding: 0;
}

.jobListingDiv li {
    height: 65px;
    padding: 5px 0px;
    list-style: none;
    border-top: 1px solid #eee;
}

.jobListingDiv li a {
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
}

.opButtons {

}

.opButtons input {
    margin-left: 3px;
    border: 1px solid #999;
    border-radius: 4px;
    background: #fff;
    font-weight: 600;
    color: #555;
    font-size: 11px;
    line-height: 20px;
    cursor: pointer;
}

.opButtons select {
    border-radius: 20px;
}

.searchBox {

}

.searchAndManageBox {
    width: 180px;
    float: left;
    margin-left: 15px;
    margin-top: 25px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 13px;
    line-height: 35px;
    text-indent: 7px;
}

.searchHeader {
    background-color: #17a7f3;
    color: #fff;
    font-weight: 500;
}

.jobListLoading {
    background-image: url('../img/card_loading.gif');
    background-repeat-x: no-repeat;
    height: 1000px;
    margin-left: 30px;
    min-width: 800px;
}

.numPagesSection {
    line-height: 1.5;
    margin-right: 5px;
}

.searchForm {
}

.searchForm input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 0px;
}

.searchForm input, select{
    height: 25px;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    margin-left: 7px;
}

.searchForm label {
    display: block;
}

.imgCalendar {
    height: 25px;
    margin-bottom: -3px;
    margin-left: 5px;
}

.searchButton {    
    margin-top: 15px;
    margin-bottom: 15px;
}

.accountUtilization, .manageDuplicate {
    line-height: 1.8;
    text-align: left;
    margin-left: 10px;
    margin-right: 3px;
    text-indent: 0px;
}

.jobListingHeader {
    background: #efe9e9;
}

.jobListingHeader li {
    list-style: none;
}

.jobListingHeader li a {
    color: #0079d0;
    text-decoration: none;
}

.jobListingHeader div {
    display: inline-block;
    text-align: center;
}

.btnPrimary {
    background: #2185cc;
    color: white;
    padding: 3px 30px;
}

.btnDefault {
    background: #c3cfd8;
    color: black;
    padding: 0 8px;
}