.fl {
	float: left;
}

.fr {
	float: right;
}

.pb10 {
	padding-bottom: 10px;
}

.pt10 {
	padding-top: 10px;
}

.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.ml5 {
	margin-left: 5px;
}

.ml15 {
	margin-left: 15px;
}

.ml50 {
	margin-left: 50px;
}

.mr50 {
	margin-right: 50px;
}

.ml75 {
	margin-left: 75px;
}

.mr25 {
	margin-right: 25px;
}

.bbDark {
    border-bottom: 1px solid #bbb;
}

.buDark {
    border-top: 1px solid #bbb;
}

.w90per {
	width: 90%;
}

.disIn {
	display: inline;
}

.disBlock {
	display: block;
}

.lh1{
	line-height: 1;
}

.jpButton {
    width: 75px;
    height: 30px;
    background: #e6e6ea;
}